.button {
    width: 100%;
    max-width: 350px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: solid 1px #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight:bold;
    margin: 2.5rem 1rem;
    cursor: pointer;
}

@media (hover: hover) {
    .button:hover {
        background-color: aquamarine;
        cursor: pointer;
    }
    }


.buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.candidateProfileContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 700px;
    padding: 0;
    margin: 0 auto;
}

.image {
    border-radius: 50%;
}

.candidateInfo {
    width: 100%;
    max-width: 400px;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

@media screen and (min-width: 700px) {
    .resultsContainer {
        margin-top: 1.5rem;
    }
}

.subtitle {
    text-align: center;
    margin-top: 0;
}