.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

@media (hover: hover) {
    .container:hover {
        background-color: aquamarine;
    }
    }


.image-wrapper {
    padding: 0.5rem;
}
.image {
    border-radius: 50%;
}
