.container {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    align-items: center;
    justify-content: left;
    margin: 0.4rem auto;
}

.image {
    border-radius: 50%;
}

.textbox {
    padding-left: 1rem;
}

.note {
    margin: 0px 0px;
}